.places {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 800px) {
  .places {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .places {
    width: 100%;
  }
}
