.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
  text-align: start;
  row-gap: 48px;
}

@media screen and (max-width: 800px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
  }
}
